#wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#top-bar {
  background-color: blue;
  color: white;
  height: 10%;
  width: 100%;
}

#main {
  background-color: yellow;
  color: black;
  flex-grow: 1;
  width: 100%;
}

#bottom-bar {
  background-color: red;
  color: white;
  height: 20%;
  width: 100%;
}