nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li a {
  padding: 14px 16px;
  text-decoration: none;
}
a.active {
  text-decoration: underline;
}

/* This gets the debug panel looking normal again, the water.css styles were messing with the button sizes, some colors */
/* 40px overrides the 20px that the panel currently has */
.debug-panel strong {
  color: black !important;
}
.debug-panel button {
  color: black !important;
}
.debug-panel button.current {
  color: white !important;
}
.debug-panel nav {
  height: 40px !important;
}
.debug-panel button {
  height: 40px !important;
}
